.chatroom-nav-show{
  background-color: #FFC21C;
  height: 188px;
  width: 428px;
}

.chatroom-nav-show h1{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.back-link-show-msg{
  margin-top: 20px !important;
  margin-left: 10px !important;
}

.container-chatroom-show{
  height: 428px;
}

.asso-mission-pic{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chat-show-nom{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin:0px;
  margin-right: 5px;
  margin-left: 5px;
}

.fa-comment-dots{
  width: 25px;
  height: 25px;
  font-size: 25px;
  align-items: top;
}

.message-form{
  align-items: center;
  display: block;
  margin-left: 10px;
  height: 60px;
  margin-top: 15px;
  position: sticky;
  overflow-y: auto;
}

.input{
  margin-top: 15px;
}

.asso-mission-pic img{
  border-radius: 85px;
  border: 2px solid #000;
  margin-top: 10px;
}

.body-show-chatrooms{
  background-color: #D9D9D9;
  height: 83px;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-control{
  background-color: #00C296;
  border-radius: 20px;
  color: black;
  width: 268px;
  height: 37px;
  margin-left: 40px;
}

.btn-send{
  margin-right: 20px;
  margin-top: 10px;
}

.messages{
  margin-top: 40px;
  margin-left: 10px;
  position: sticky;
  min-height: 620px !important;
}

.sticky-form{
  position: sticky;
  overflow-y: auto;
}

p{
  background-color: #D9D9D9;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
