// Specific CSS for your home-page
.list_mission {

  border-radius: 15px;
  text-align: justify;
  text-decoration: none;
  font-weight: 200;
  color: white;
  font-size: 30px;
  border-color: black;
  padding: 10px;
  font-family: "poppins";
}

.mes_missions {
  border-radius: 15px;
  text-align: justify;
  text-decoration: none;
  font-weight: 200;
  color: black;
  font-size: 30px;
  padding: 10px;
  font-family: "poppins";
}
