body {
  width: 100%;
}

.user_profile_card{
 justify-content: center;
 text-align: center;
 align-items: center;
 margin-top: 20px;
}

.profile_name{
  color: #000;
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-right: 60px;
}

.back-link-profile{
  margin-left: 10px;
}

.pic_profile_card{
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: 2px;
}

.boutons-profil{
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

.boutons-profil img{
  width: 60px;
  height: 60px;
}

.badge-name{
  color: #000;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.badge-section{
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  align-items: center;
}

.progression-card-profile{
  background-color: #D9D9D9;
  width: 100%;
  height: 305px;
  margin-top: 30px;
  border-radius: 20px 20px 0 0;
  padding-top: 10px;
}

.category-name-first {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  margin-right: 20px;
}

.progression-card-profile h2{
  margin-top: 10px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.progression-card-profile p {
  color: grey;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-left: 15px;
}

.bg-envrn {
  background-color: #5AC933; /* Couleur de la barre de progression pour la catégorie ENVIRONNEMENTAL */
}

.bg-social {
  background-color: #FFC21C; /* Couleur de la barre de progression pour la catégorie SOCIAL */
}

.bg-animal {
  background-color: #9BC6F4; /* Couleur de la barre de progression pour la catégorie ANIMAL */
}

.category-name-first p{
  color: grey;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.formeverte{
  z-index:1;
  height: 250px;
  width: 200px;
}

.navbar-profile{
  background-color: whitesmoke;
  width: 100%;
  height: 100px;
  display: flex;
  z-index:10;
  justify-content: space-between;
}

.elements-nav-home{
  margin-top: 15px;
}

.boutons-profil{
  z-index:10;
}

.formebleu{
  z-index:1;
  margin-left: -5px;
}


.formejaune{
  z-index:1;
  margin-left: 380px;
  width: 50px;
  margin-top: -150px;
}

.allbtn{
  margin-top: -300px;
  z-index:10;
}

.button-envrn{
  width: 39px;
  height: 19.162px;
  border-radius: 4px;
  background-color: #00C296CC !important;
  margin:0;
  text-align: center;
  color: black;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-social{
  width: 39px;
  height: 19.162px;
  border-radius: 4px;
  background-color: #FFC21CCC !important;
  margin:0;
  text-align: center;
  color: black;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-animal{
  width: 39px;
  height: 19.162px;
  border-radius: 4px;
  background-color: #9BC6F4 !important;
  margin:0;
  text-align: center;
  color: black;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.progress{
  margin:0;
}
