.ensemble{
  display: flex;
  justify-content: space-evenly;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 60px;
}
.joker{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-top: -40px;
}
.spa {
  display: flex;
  margin-left: 20px;
}
.mission-card{
font-weight: 50px ;
font-weight: bold;
margin-left: 10px;
}

.headerpage {
  font-weight: bold;
  margin-right: 75px;
  display: flex;
  justify-content: center;
}

.descri {
display: flex;
margin-left: 10px;
text-align: justify;
margin-right: 10px;
}

.submit-button {
  text-align: justify;
  margin-top: 20px ;
  margin-left: 130px;
  border-radius: 5px;
  font-weight: bold ;
  background-color: #9BC6F4;
  }

.tictac-button {
border-image-width: 20px;
margin-right: 30px;
}

.loca-card {
margin-left: 20px;
}

