.ensemble{
  display: flex;
  justify-content: space-evenly;
}
.joker{
  display: flex;
  justify-content: space-evenly;
}
.spa {
  display: flex;
  margin-left: 20px;
}

.headerpage {
  font-weight: bold;
}

.description {
display: flex;
margin-left: 15px;
margin-right: 15px;
margin-top: 75px;
text-align: justify;
}

.submit-button {
  text-align: justify;
  margin-top: 50px ;
  margin-left: 130px;
  border-radius: 5px;
  font-weight: bold ;
  background-color: #9BC6F4;
  }

.adresse{
  margin-top: 45px;
  text-align: justify;
}
.time {
  margin-top: 30px;
}

.tictac-button {
border-image-width: 15px;
}
