.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 40px;
}

.test{
  position: relative;
  bottom: 0;
}

.mapboxgl-canvas {
  width: 390px;
  border-radius: 40px 40px 0 0;
}

.marker{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid black;
}

.more-button {
  width: 120px;
  height: 30px;
}
