.navbar{
  background-color: whitesmoke;
  width: 100px;
}

.backlink{
  width: 390px;
  height: 741px;
  text-decoration: none;
  margin-left: 10px;
}

.profile_link{
  text-decoration: none;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
}
